	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/08/2017 08:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-business:before { content: "\f100"; }
.flaticon-cancel:before { content: "\f101"; }
.flaticon-trophy:before { content: "\f102"; }
.flaticon-cup:before { content: "\f103"; }
.flaticon-social:before { content: "\f104"; }
.flaticon-group:before { content: "\f105"; }
.flaticon-layers:before { content: "\f106"; }
.flaticon-play-button:before { content: "\f107"; }
.flaticon-money-bag:before { content: "\f108"; }
.flaticon-graphic:before { content: "\f109"; }